body{
    background-color: black;
    color: #fff;
    display: grid;
    grid-template-columns: auto 800px auto;
    grid-template-rows: auto auto;
    
}

#MainTitle{
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;

}

#GameWindow{
    position: relative;
    width: 800px;
    height: 608px;
    grid-column-start: 2;
    grid-row-start: 2;
    background-color: purple;
    
}

.BackGround{
    position: absolute;
    z-index: 0;
}

.Character{
    position: absolute;
    z-index: 100;
}

.ForeGround{
    position: absolute;
    z-index: 1000;
}

#TileMap{
    
}

#mainCharacter{
    top: 160px;
    left: 392px;
    transition: all 1 ease-in-out;
}